@model TenantDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","MyProfile")">My Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tenant</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                        <a class="nav-item nav-link" id="nav-companies-tab" data-toggle="tab" href="#nav-companies" role="tab" aria-controls="nav-companies" aria-selected="false">Companies</a>
                        <a class="nav-item nav-link" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-members" aria-selected="false">Members</a>
                    </div>
                </nav>
            </div>
            <div class="card-body">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                        <a asp-action="ManageTenantEdit" asp-controller="MyProfile" asp-route-id="@Model.Id" class="btn btn-outline-warning"><i class="fa fa-edit"></i>Edit</a>
                        <br />  <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input asp-for="@Model.Name" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input asp-for="@Model.Email" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Phone</label>
                                    <input asp-for="@Model.Phone" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Address</label>
                                    <input asp-for="@Model.Address" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input asp-for="@Model.Description" class="form-control" readonly />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-companies" role="tabpanel" aria-labelledby="nav-companies-tab">
                        <a asp-action="ManageTenantCompanyAdd" asp-controller="MyProfile" asp-route-tenantid="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="companyTable"
                               data-toggle="table"
                               data-query-params="companyTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="companyAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="name">Name</th>
                                    <th data-field="id" data-width="150" data-formatter="companyRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                    <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
                        <a asp-action="Create" asp-controller="Memberships" asp-route-tenantId="@Model.Id" class="btn btn-outline-primary">Add Member</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="managerTable"
                               data-toggle="table"
                               data-query-params="tenantMemberTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="tenantMemberAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="userEmail">Email</th>
                                    <th data-field="roles">Roles</th>
                                    <th data-field="membershipId" data-width="120" data-formatter="tenantMemberRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        var modelid = '@Model.Id';
    </script>

    <script>
        function companyAjaxRequest(params) {
            var url = '@Url.Action("GetManageTenantCompaniesTableData", "MyProfile")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function companyTableParams(params) {
            params.tenantid = modelid;
            return params
        }
        function companyRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/MyProfile/ManageTenantCompanyDetails/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/MyProfile/ManageTenantCompanyEdit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/MyProfile/ManageTenantCompanyDelete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

        function tenantMemberAjaxRequest(params) {
            var url = '@Url.Action("GetManageTenantMembersTableData", "MyProfile")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function tenantMemberTableParams(params) {
            params.tenantid = modelid;
            return params
        }
        function tenantMemberRowActionButtons(value, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/Memberships/' + row.membershipId + '" title="View membership"><i class="fa fa-file-alt"></i></a>'
        }

    </script>

}